/* ! ig-css-addons| MIT License | ikeagold.github.io */

/* normalized print */
@media print {
    body {
        background: transparent !important;
        text-shadow: none !important;
    }
    a, a:visited {
        color: #444 !important;
        text-decoration: underline;
    }
    a[href]:after {
        content: ' (' attr(href) ')';
    }
    abbr[title]:after {
        content: ' (' attr(title) ')';
    }
    a:after {
        content: '';
    }
    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr, img {
        page-break-inside: avoid;
    }
    p {
        orphans: 3;
        widows: 3;
    }
    h2, h3 {
        orphans: 3;
        widows: 3;
        page-break-after: avoid;
    }
}
/* fontstack with fallback */

body {
    font-family: 'Noto Sans', 'Helvetica Neue', 'Roboto', 'Droid Sans', 'Segoe UI', 'Fira Sans', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
/* removing ie10-11 click delay */

html {
    -ms-touch-action: manipulation;
}
/* removing click delay and active state, use on mobile app only */
/*html {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}*/
/* floats */

.float-left {
    float: left;
}
.float-right {
    float: right;
}
.float-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* clearfix */

.cf:before, .cf:after {
    content: '';
    display: table;
}
.cf:after {
    clear: both;
}

/* hyphens !require lang defined */
p {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

/* https://github.com/necolas/normalize.css/pull/356 */

input[type="search"] {
    -webkit-appearance: none;
    box-sizing: content-box;
}
/* https://github.com/necolas/normalize.css/pull/379 */

[role="button"] {
    cursor: pointer;
}
