/* ! ig-css-addons| MIT License | ikeagold.github.io */
/* Combed by http://csscomb.com/online */

/* fontstack with fallback */
body {
  font-family: 'Noto Sans', 'Helvetica Neue', 'Roboto', 'Droid Sans', 'Segoe UI', 'Fira Sans', Helvetica, Arial, sans-serif;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* utility */
.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-center {
  display: block;

  margin-right: auto;
  margin-left: auto;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.relative {
  position: relative;
}

.table-center {
  margin: auto;
}

.clickable {
  cursor: pointer;
}

.hide {
  display: none;
}

/* clearfix */
.cf:before,
.cf:after {
  display: table;

  content: '';
}

.cf:after {
  clear: both;
}

/* hyphens !require lang defined */
p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;

  -ms-hyphens: auto;
}

/* no select */
.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
}

/* dealing with long placeholders */
input[placeholder] {
  text-overflow: ellipsis;
}

input::-moz-placeholder {
  text-overflow: ellipsis;
}

input:-moz-placeholder {
  text-overflow: ellipsis;
}

input:-ms-input-placeholder {
  text-overflow: ellipsis;
}

/* pointer and noselect */
label {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* to escape some problems */
textarea {
  resize: vertical;
}

/* this hack vs display: block; */
img {
  vertical-align: middle;
}

/* adaptive video */
.video {
  position: relative;

  overflow: hidden;

  height: 0;
  padding-bottom: 56.25%;
}

.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

/* buttons pointer */
button,
[role='button'] {
  cursor: pointer;
}

/* @default_disabled box fix */
/**,
*:before,
*:after,
.box-fix {
  box-sizing: border-box;
}*/

/* @default_disabled transform hack, better to use: will-change: transform; */
/** {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transform: translateZ(0);

  will-change: transform;
}*/

/* @default_disabled deal with ul's */
/*ul {
  margin: 0;
  padding: 0;

  list-style: none;
}*/

/* @default_disabled adaptive imgs */
/*img {
  width: auto \9;
  max-width: 100%;
  height: auto;
}*/

/* @default_disabled parallax img */
/*.parallax {
  background: no-repeat fixed center center;
  background-size: cover;
}*/

/* https://github.com/necolas/normalize.css/pull/356 */
/*input[type='search'] {
  box-sizing: content-box;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}*/

/* normalized print */
/*@media print {
  body {
    background: transparent !important;
    text-shadow: none !important;
  }
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  a[href]:after {
    content: ' (' attr(href) ')';
  }
  abbr[title]:after {
    content: ' (' attr(title) ')';
  }
  a:after {
    content: '';
  }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr, img {
    page-break-inside: avoid;
  }
  p {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    orphans: 3;
    widows: 3;
    page-break-after: avoid;
  }
}*/
