/*! ig-css-addons| MIT License | arturparkhisenko.github.io */
html {
  /*fontstack with fallback*/
  font-family: -apple-system, "blinkmacsystemfont", ".SFNSDisplay-Regular", ".SFNSText-Regular", "SF UI Text", "San Francisco", "Noto Sans", "Helvetica Neue", "Roboto", "Droid Sans", "Oxygen", "Lucida Grande", "Segoe UI", "Fira Sans", "ubuntu", "cantarell", "helvetica", "arial", sans-serif;
  /*font-size: 100%; (1em ~= 16px ~= 14pt)
  font-size: 62.5%; (1em = 10px)*/
}

body {
  /*font rendering*/
  text-rendering: optimizeLegibility;
  /*text-rendering: optimizeSpeed;*/
}
/*clearfix*/
.cf::after {
  content: "";
  display: block;
  clear: both;
}
/*hyphens !require lang defined*/
p {
  -webkit-hyphens: auto;
  -epub-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
/*no select*/
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/*dealing with long placeholders*/
input[placeholder] {
  text-overflow: ellipsis;
}

input::-moz-placeholder {
  text-overflow: ellipsis;
}

input:-moz-placeholder {
  text-overflow: ellipsis;
}

input:-ms-input-placeholder {
  text-overflow: ellipsis;
}
/*to escape some problems*/
textarea {
  resize: vertical;
}
/*this hack vs display: block;*/
img {
  vertical-align: middle;
}
/*buttons pointer*/
[role="button"],
button {
  cursor: pointer;
}
/*IE 10 support for HTML5 hidden attr*/
[hidden] {
  display: none !important;
}
/*box fix*/
*,
*::after,
*::before,
.box-fix {
  box-sizing: border-box;
}
/*@default_disabled transform hack, better to use: will-change: transform;*/
/*selector {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transform: translateZ(0);

  will-change: transform;
}*/
/*@default_disabled deal with ul's*/
/*ul {
  padding-left: 0;

  list-style: none;
}*/
/*@default_disabled parallax img*/
/*.parallax {
  background: no-repeat fixed center center;
  background-size: cover;
}*/
/*normalized print*/
@media print {
  body {
    background: transparent !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  a::after {
    content: "";
  }

  blockquote,
  pre {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  img,
  tr {
    page-break-inside: avoid;
  }

  p {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
    orphans: 3;
    widows: 3;
  }
}
