/* ! ig-css-addons| MIT License | ikeagold.github.io */
/* fontstack with fallback */

body {
    font-family: 'Noto Sans', 'Helvetica Neue', 'Roboto', 'Droid Sans', 'Segoe UI', 'Fira Sans', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

/* floats */

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.float-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* clearfix */

.cf:before, .cf:after {
    content: '';
    display: table;
}

.cf:after {
    clear: both;
}

/* hyphens !require lang defined */
p {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

/* https://github.com/necolas/normalize.css/pull/356 */

input[type="search"] {
    -webkit-appearance: none;
    box-sizing: content-box;
}

/* https://github.com/necolas/normalize.css/pull/379 */

[role="button"] {
    cursor: pointer;
}
